@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

html,
body {
  font-family: "DM Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Common CSS Styles Starts */
.container {
  margin: 0 auto;
  padding: 0 16px;
}

.manrope {
  font-family: "Manrope", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Common CSS Styles Ends */

/* Header starts */
.header__logo {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  font-family: "Manrope", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.header__logo--color {
  color: #FF0000;
}

.header__menuburger {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #000000;
  background-color: transparent;
}

.header__links {
  padding: 0;
}

.header__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  list-style: none;
  text-align: center;
  min-width: 36px;
  margin-bottom: 4px;
}

.header__link>a {
  text-decoration: none;
  color: #000000;
}

.header__link:hover>a::after,
.header__link--active>a::after {
  content: ' ';
  display: block;
  width: 36px;
  margin: 0 auto;
  border-bottom: 2px solid #000000;
}

.header__navcollapse {
  display: none;
  visibility: hidden;
}
/* Header ends */

/* call-to-action starts */
.call-to-action {}

.picture__ujjwal--one img{
  margin: 64px 0px 0px 0px;
  max-width: 100%;
  object-fit: cover;
}

.call-to-action__name {
  margin: 0px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  line-height: 76px;

  /* identical to box height */
  text-align: center;
}

.call-to-action__name h1 {
  padding: 0px;
  margin: 0px;
}

.call-to-action__menu {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
}

.menu__title p {
  margin: 16px 0px;
}

.call-to-action__menu span {
  margin: 0px;
  font-size: 14px;
}

.call-to-action__messagelink {
  text-align: center;
  font-size: 16px;
}

.messagelink__btn {
  margin: 16px 0px 0px 0px;
  padding: 4px;
  text-align: center; 
  border: 2px solid #000000;
  border-radius: 12px;
  background-color: #000000;
}

.messagelink__btn a {
  padding: 10px 8px;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

.messagelink__icon {
  margin-bottom: -1px;
  max-width: 100%;
  object-fit: cover;
}
/* call-to-action starts */

/* About Starts */
.about {
  text-align: center;
}

.picture__ujjwal--two img {
  margin: 24px 0px;
  max-width: 100%;
  object-fit: cover;
}

.about__details {
  margin: 0px 24px;
  display: flex;
  justify-content: space-between;
}

.details__detail {
  border: 2px solid #000000;
  border-radius: 8px;
  font-size: 12px;
  padding: 6px 8px;
}

.details__detail p {
  margin: 4px;
  font-size: 10px;
}

.detail-icon {
  font-size: 24px;
  padding: 0px 0px 8px 0px;
}
/* About Ends */

@media (min-width: 576px) {
  .container {
    --width: 576px;
    max-width: calc(var(--width) - 32px);
  }
}

@media (min-width: 768px) {
  .container {
    --width: 768px;
  }

  .header__menuburger {
    display: none;
    visibility: hidden;
  }

  .header__navbar {
    display: flex;
    justify-content: space-between;
  }

  .header__navcollapse {
    display: block;
    visibility: visible;
  }

  .header__links {
    display: flex;
    margin-top: 46px;
  }

  .header__link {
    margin: 0 16px;
  }
}

@media (min-width: 992px) {
  .container {
    --width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    --width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    --width: 1400px;
  }
}